#gamePanel{
    position:absolute;
    width: 370px;
    height: 460px;
    margin-top: 60px;
    border-color: gray;
    border-style: solid;
    border-width: 0px;
/*    background-image:image-url('concentration/ikura.png');*/
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
}

.card{
  float:left;
  width:80px;
  height:80px;
  border-color:rgba(0,0,0,0.31);
  border-radius:12px;
  border-style:solid;
  border-width:1px;
  text-align:center;
  vertical-align:middle;
  line-height:90px;
  font-size:xx-large;
  margin: 3px 3px 3px 3px;
}

.back{
/*    background-color:green;*/
/*    background-color: royalbule;*/
    background-image:image-url('/img/card/concentration/ikura.png');
    background-color:rgba(255, 255, 225, 1);
}

.face{
/*    background-color:red;*/
/*    background-color: aqua;*/
    background-image: url('');
    background-color:rgba(255, 255, 255, 0.5);
}

.matched{
    background-color:transparent;
    border-color:transparent;
}

#controlPanel{
    position:absolute;
    top:600px;
    width: 410px;
    text-align: right;
}

#displayPanel{
    position: absolute;
    left: 240px;
    top:90px;
    width: 160px;
    font-size: large;
}

.score{
    float:left;
    width:80px;
}

.clear{
    clear:left;
}

button{
    font-size:large;
}

input[type=file]{
    visibility:hidden;
    width:1px;
}
